<footer class="mt-5">
    <div class="footback">
        <div class="container">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <ul>
                            <li>
                                <i class="fa-solid fa-paper-plane"></i>
                                <span>
                                    5900 Balcones Drive STE 7377 Austin TX, USA 78731
                                </span>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-envelope"></i>                                   
                                    <span>
                                        Email: sales@ondortrades.com
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h5>
                            CATEGORIES
                        </h5>
                        <ul>
                            <li><a href="">Health & Beauty</a></li>
                            <li><a href="">Baby</a></li>
                            <li><a href="">DIY & Tools</a></li>
                            <li><a href="">Sports & Outdoors</a></li>
                            <li><a href="">Toys</a></li>

                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h5>
                            CATEGORIES
                        </h5>
                        <ul>
                            <li><a href="">Grocery</a></li>
                            <li><a href="">Pet Supplies</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h5>
                            MY ACCOUNT
                        </h5>
                        <ul>
                            <li><a href="">My Account</a></li>
                            <li><a href="">Checkout</a></li>
                            <li><a href="">Cart</a></li>
                            <li><a href="">Shop</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr__br">
        <p class="text-center">
            ONDOR TRADES&copy; 2023 CREATED BY H.S..
        </p>
    </div>
</footer>