{% load static %}
<header class="headdd">
    <div class="header__back">
        <div class="container">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <img src="{% static 'images/Ondor_Trades-removebg-preview-2.png' %}" alt="logo">
                <ul class="links">
                    <li><a class="active" href="">HOME</a></li>
                    <li><a href="">ABOUT US</a></li>
                    <li><a href="">SHOP</a></li>
                    <li><a href="">CONTACT US</a></li>
                    <ul class="links__3">
                        <!-- <li>
                        <a href=""><img src="images/Symbol.svg" alt=""></a>
                    </li> -->
                        <li>
                            <a href="">DONATE</a>
                        </li>
                    </ul>
                </ul>
                <ul class="links__2">
                    <li>
                        <a href="">LOGIN / REGISTER</a>
                    </li>
                    <li>
                        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa-regular fa-heart"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                    <li><p>Total</p></li>
                </ul>
            </nav>
        </div>
    </div>
</header>