{% extends "myapp/main.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="productdetail">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for product_image in product_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ product_image.image.url }}" class="d-block w-100" alt="Product Image">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="productdetail__data">
                        <p>{{ product.title }}</p>
                        <h1 class="card-title">{{ product.title }}</h1>
                        <h4 class="card-text homeproducts__psecond text-danger mt-3">Price: ${{ product.price }}</h4>
                        <div class="quantity mb-3">
                            <button class="decrement">-</button>
                            <input type="number" class="count" value="1">
                            <button class="increment">+</button>
                            <button class="productdetail__btn ms-4 add-to-cart" data-product-id="{{ product.id }}">ADD TO CART</button>
                        </div>
                        <div class="mb-3">
                            <i class="fa-regular fa-heart"></i>
                            <span> <b>Add to Wishlist</b> </span>
                        </div>
                        <p class="card-text homeproducts__pfirst"><b>Category:</b> {{ product.get_category_display }}
                        </p>
                        <div class="share__icons">
                            <b>Share:</b>
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-solid fa-x"></i>
                            <i class="fa-brands fa-pinterest"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="container mt-5">

    <div class="tabset">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
        <label for="tab1">DESCRIPTION</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
        <label for="tab2">REVIEWS</label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
        <label for="tab3">SHIPPING AND DELIVERY</label>

        <div class="tab-panels">
            <section id="marzen" class="tab-panel">
                <h2>6A. Märzen</h2>
                <p><strong>Overall Impression:</strong> An elegant, malty German amber lager with a clean, rich, toasty
                    and bready malt flavor, restrained bitterness, and a dry finish that encourages another drink. The
                    overall malt impression is soft, elegant, and complex, with a rich aftertaste that is never cloying
                    or heavy.</p>
                <p><strong>History:</strong> As the name suggests, brewed as a stronger “March beer” in March and
                    lagered in cold caves over the summer. Modern versions trace back to the lager developed by Spaten
                    in 1841, contemporaneous to the development of Vienna lager. However, the Märzen name is much older
                    than 1841; the early ones were dark brown, and in Austria the name implied a strength band (14 °P)
                    rather than a style. The German amber lager version (in the Viennese style of the time) was first
                    served at Oktoberfest in 1872, a tradition that lasted until 1990 when the golden Festbier was
                    adopted as the standard festival beer.</p>
            </section>
            <section id="rauchbier" class="tab-panel">
                <h2>6B. Rauchbier</h2>
                <p><strong>Overall Impression:</strong> An elegant, malty German amber lager with a balanced,
                    complementary beechwood smoke character. Toasty-rich malt in aroma and flavor, restrained
                    bitterness, low to high smoke flavor, clean fermentation profile, and an attenuated finish are
                    characteristic.</p>
                <p><strong>History:</strong> A historical specialty of the city of Bamberg, in the Franconian region of
                    Bavaria in Germany. Beechwood-smoked malt is used to make a Märzen-style amber lager. The smoke
                    character of the malt varies by maltster; some breweries produce their own smoked malt (rauchmalz).
                </p>
            </section>
            <section id="dunkles" class="tab-panel">
                <h2>6C. Dunkles Bock</h2>
                <p><strong>Overall Impression:</strong> A dark, strong, malty German lager beer that emphasizes the
                    malty-rich and somewhat toasty qualities of continental malts without being sweet in the finish.</p>
                <p><strong>History:</strong> Originated in the Northern German city of Einbeck, which was a brewing
                    center and popular exporter in the days of the Hanseatic League (14th to 17th century). Recreated in
                    Munich starting in the 17th century. The name “bock” is based on a corruption of the name “Einbeck”
                    in the Bavarian dialect, and was thus only used after the beer came to Munich. “Bock” also means
                    “Ram” in German, and is often used in logos and advertisements.</p>
            </section>
        </div>

    </div>

</div>
<section>
    <div class="bestsellers container mt-5">
        <div class="bestsellers__cont text-center">
            <h1>
                Related Products
            </h1>
        </div>
        <div class="owl-carousel owl-theme homeproducts mt-5">
            {% for category_product in category_products %}
            <div class="item">
                <a href="{% url 'product_detail' category_product.id %}">
                    <div class="pos__r">
                        {% if category_product.productimage_set.exists %}
                        {% with category_product.productimage_set.first.image.url as first_image %}
                        <img src="{{ first_image }}" class="card-img-top" alt="{{ category_product.title }}">
                        {% endwith %}
                        {% endif %}
                        <h5 class="card-title">{{ category_product.title }}</h5>
                        <p class="card-text homeproducts__pfirst">Category: {{ category_product.get_category_display }}
                        </p>
                        <p class="card-text homeproducts__psecond text-danger">Price: ${{ category_product.price }}</p>
                        <div class="wishlist">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const decrementBtn = document.querySelector('.decrement');
        const incrementBtn = document.querySelector('.increment');
        const countInput = document.querySelector('.count');

        decrementBtn.addEventListener('click', function () {
            let count = parseInt(countInput.value);
            if (count > 1) { // Ensure the count is greater than 1 before decrementing
                count--;
                countInput.value = count;
            }
        });

        incrementBtn.addEventListener('click', function () {
            let count = parseInt(countInput.value);
            count++;
            countInput.value = count;
        });
    });

</script>


<script>
    // Get all the buttons with the "add-to-cart" class
    const addToCartButtons = document.querySelectorAll('.add-to-cart');

    // Add click event listeners to each button
    addToCartButtons.forEach(button => {
        button.addEventListener('click', function(event) {
            const productId = event.target.dataset.productId;

            // Perform an AJAX request to add the product to the cart
            fetch(`/add-to-cart/${productId}/`) // Replace with your add-to-cart URL
                .then(response => {
                    if (response.ok) {
                        // Cart updated successfully, you might update UI elements here
                        console.log('Product added to cart!');
                    } else {
                        // Handle error, show an alert or message
                        console.error('Failed to add product to cart');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>


{% endblock %}